<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SelfHostUrl" value="http://localhost:8090"/>
    <add key="RequestHeaderValue" value="adi" />
    <add key="UserName" value="aditya"/>
    <add key="Password" value="test"/>
  </appSettings>
</configuration>