
<script src="~/scripts/Customer/Customers.js"></script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus malesuada ex id dignissim.
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aliquam non malesuada augue, eu volutpat lacus.
        Ut ac lacus nisl. Nam risus mi, accumsan ac odio a, lacinia finibus sapien. Proin iaculis porttitor erat, tempus condimentum enim tempus vel. Nulla bibendum pulvinar mi in dictum.
        Integer vitae nisi vitae enim semper tincidunt. Cras eget ornare justo.
        Donec vel elit scelerisque velit maximus vestibulum. Fusce hendrerit scelerisque malesuada. Aenean commodo, orci eu ultricies rutrum, nulla tellus pellentesque justo, eu tincidunt augue ex eu mauris. Curabitur molestie accumsan porttitor. Donec pretium sagittis lorem, quis cursus dui tristique quis. Sed sed finibus sapien, sed varius orci. Aliquam erat volutpat. Nam malesuada scelerisque quam vel aliquam. Nam cursus lectus non ex tristique tincidunt.

        Aliquam erat volutpat.
        <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Vivamus eros massa, maximus non rhoncus in, sagittis sed massa. Morbi pretium elit mi, eget tincidunt elit finibus eu. Fusce iaculis rhoncus arcu, eget ullamcorper velit. Fusce lobortis ligula nec elit imperdiet tempus. Phasellus quis ipsum quis nisl tincidunt finibus. Quisque non mi egestas, dapibus enim in, porttitor urna. Praesent quis varius velit, sit amet sodales mauris. Mauris congue dui nec risus pulvinar vehicula.

        Vestibulum facilisis tellus scelerisque, sagittis diam vel, aliquam erat. Nam sit amet velit elit. Curabitur fermentum facilisis lorem. Curabitur in blandit nulla, id placerat metus. Mauris sit amet massa tincidunt ante dictum molestie rutrum quis turpis.
        <br /><br />
        Vivamus iaculis orci sed dolor hendrerit, ut molestie libero sodales. Mauris ut mattis est, id molestie turpis. Mauris quis sapien quis turpis hendrerit dignissim. Cras et arcu eu mi feugiat molestie ac vel dui. Donec et ante volutpat, pellentesque enim et, dictum dui.
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h3>Customers List</h3>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row" ng-controller="Customers">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
        <table class="table-bordered table-hover table-condensed" style="width: 100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Full Name</th>
                </tr>
            </thead>
            <tr ng-repeat="item in items">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.LastName}}</td>
                <td>{{item.FullName}}</td>
            </tr>
        </table>

    </div>
    <div class="col-md-1"></div>
</div>
